**tipo basico de reset**
*{margin: 0px; 
    padding: 0px; 
    font-size: 10px; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    list-style-type: none; 
    text-decoration: none;}