*{
    list-style-type: none; 
    text-decoration: none;
}
body{
    background: #fff url(../media/fundo.png) repeat-x top;
}

#main{
    width: 800px;
    margin: 0 auto;
    
}
header{
    height: 150px;
    background: url(../media/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
    
}
.logo{
    width: 152px;
    height: 66px;
    margin-top: -20px;
    background: url(../media/logo.png) no-repeat;
    text-indent: -3000px;
}
.nav-bar-top{
    width: 800px;
    margin: 30px -40px;
}
.nav-bar-top li{
    list-style-type: none;
    float: left;
    padding: 15px 20px;
    font-size: 1.1em;
    cursor: pointer;
    background:rgb(104, 0, 0) url(../media/divisor.png) no-repeat left center;
}
.nav-bar-top li a{
    color: white;
    transition: 0.25s;
}
.nav-bar-top li.primeiro{
    background: rgb(104, 0, 0) url(..media/divisor.png) no-repeat right center;
}
.nav-bar-top .atual{
    background-color: rgb(148, 0, 0);
}
.nav-bar-top li a:hover{
    color: black;
}
.nav-bar-top li:hover{
    background-color: rgb(148, 0, 0);
}

#conteudo{
    background-color: #f5f5f5;
    margin-top:60px;
}
#tres-colunas #primario {
    width: 290px;
    float: left;
    margin: 0 0 20px 195px;
    background-color: aqua;
}
#duas-colunas #primario {
    width: 595px;
    float: left;
    margin: 0 0 20px 195px;
    background-color: aqua;
}
#uma-coluna #primario{
    width: 800px;
    float: left;
    margin: 0 0 20px 0;
    background-color: aqua; 
}
#secundario{
    width: 290px;
    float: left;
    margin: 0 0 20px 15px;
    background-color: beige;
}
#lateral{
    width:190px;
    float: left;
    margin: 0 0 20px -800px;
    background-color: blueviolet;
}

footer{
    background: #294c71;
    padding: 20px;
    clear:both;
}
#rodape{
    width: 800px;
    font-size: 1.3em;
    margin: 0 auto;
    color: #fff;
}